@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    background-color: #F7F7F7;
}  


/*MENÚ PLEGABLE*/
body {
    background-color: 7f7f7#f8f8f8;
    text-align: center;
}

/* Contenedor principal */
.interfaz_1 {
    position: relative;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Icono del menú */
.menu-icono {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.menu-icono-img {
    width: 30px; /* Ajusta el tamaño del icono de menú */
}

/* Estilos del menú desplegable */
.menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    border: 1px solid #c59a31 ;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px; /* Ancho del menú desplegable */
}

.menu img {
    width: 100%; /* Imagen dentro del menú */
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #020202;
    font-size: 1.1rem;
    display: block;
}

/* Logo y botones */
.Logo_inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.logo img {
    width: 230px; /* Ajusta el tamaño del logo */
    margin-bottom: 20px;
}

.botones {
    text-align: center;
    padding: 80px 0 50px 0;
    background-color: #f7f7f7;
}

.btn-reservar {
    display: flex;
    padding: 12px 30px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    border: 2px solid #c59a31 ;
    margin-bottom: 20px;
    transition: 0.3s, color 0.3s;
    margin: 20px;
}

.btn-reservar:hover {
    background: linear-gradient(to right, #c59a31, #f7dc7b, #f7dc7b, #c59a31 );
    color: #F7F7F7;
    border-color: #c59a31;
}

.btn-servicios {
    display: flex;
    padding: 12px 30px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    border: 2px solid #c59a31;
    margin-bottom: 20px;
    transition: 0.3s, color 0.3s;
    margin: 20px;
}

.btn-servicios:hover {
    background: linear-gradient(to right, #c59a31, #f7dc7b, #f7dc7b, #c59a31 );
    color: white;
    border-color: #c59a31;
}

.menu-visible {
    display: block;
}

/*RESPONSIVE MENU*/
@media screen and (max-width: 480px) {
    .menu-icono-img {
        width: 25px;
    }

    .menu {
        width: 150px;
        top: 50px;
        right: 15px;
    }

    .logo img {
        width: 200px;
    }

    .btn-reservar,
    .btn-servicios {
        padding: 10px 15px;
        font-size: 14px;
        margin: 10px;
    }

    .botones {
        padding: 40px 0 70px 0;
    }

    .interfaz_1 {
        padding: 10px;
    }
}

/*SECCIÓN DE SERVICIOS */
.interfaz_2{
    padding: 0px;
    background-color: #F7F7F7;
}

.titulo_servicios{
    font-family:"serif";
    text-align: center;
    background: linear-gradient(to right, #c59a31, #f7dc7b, #f7dc7b, #c59a31 );
    padding: 15px 0;
    margin-bottom: 30px;
    color: #F7F7F7;
}

.catering_eventos{
    position: relative;
}

.servicios {
    display: flex; /* Permite que los elementos hijos se alineen horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si es necesario */
}

.servicios > div {
    position: relative; /* Permite que los elementos hijos se posicionen en relación a este contenedor */
    margin: 0; /* Espacio entre los servicios */
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 192px;
}

.capa_oscura {
    position: absolute; /* Posiciona la capa de forma absoluta */
    top: 0; /* Alinea al inicio del contenedor */
    left: 0; /* Alinea al inicio del contenedor */
    right: 0; /* Alinea al final del contenedor */
    bottom: 0; /* Alinea al final del contenedor */
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad */
    z-index: 1; /* Asegura que la capa oscura esté sobre otros elementos */
}

.servicios img {
    display: block; /* Asegura que la imagen se muestre como un bloque */
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 192; /* Mantiene la proporción de la imagen */
    z-index: 0; /* Asegura que la imagen esté debajo de la capa oscura */
}

.servicios h3 {
    position: absolute; /* Posiciona el encabezado de forma absoluta */
    top: 10px; /* Ajusta la posición vertical */
    left: 10px; /* Ajusta la posición horizontal */
    color: white; /* Color del texto */
    z-index: 2; /* Asegura que el texto esté por encima de la capa oscura */
    font-family: serif;
}

  .servicios p {
    text-align: center;
    margin-bottom: 20px;
  }*/

  /*FIN DE SECCIÓN DE SERVICIOS*/

/*SECCIÓN DE CLIENTES*/

.clientes{
    padding: 0px;
    background-color: white;
}

.titulo_clientes{
    font-family: serif;
    text-align: center;
    background: linear-gradient(to right, #c59a31, #f7dc7b, #f7dc7b, #c59a31 );
    padding: 15px 0;
    margin-bottom: 30px;
    color: #F7F7F7;
}



/*FIN DE SECCIÓN DE CLIENTES*/

/*SECCIÓN DE GALERÍA*/
img{
    width: 100%;
}

.galeria_platos {
    text-align: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 columnas*/
    gap: 10px;
    padding: 10px; /* Espaciado alrededor de la galería */
}

.galeria div {
    overflow: hidden; /* Para recortar imágenes que sobresalgan */
}

.galeria img {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s;
}

.galeria div:hover img {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

/*FIN DE SECCIÓN DE GALERÍA*/