@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    background-color: #F7F7F7;
}  


/*MENÚ PLEGABLE*/
body {
    background-color: 7f7f7#f8f8f8;
    text-align: center;
}

/* Contenedor principal */
.interfaz_1 {
    position: relative;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Icono del menú */
.menu-icono {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.menu-icono-img {
    width: 30px; /* Ajusta el tamaño del icono de menú */
}

/* Estilos del menú desplegable */
.menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    border: 1px solid #c59a31 ;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px; /* Ancho del menú desplegable */
}

.menu img {
    width: 100%; /* Imagen dentro del menú */
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #020202;
    font-size: 1.1rem;
    display: block;
}

/* Logo y botones */
.Logo_inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.logo img {
    width: 230px; /* Ajusta el tamaño del logo */
    margin-bottom: 20px;
}

.botones {
    text-align: center;
    padding: 80px 0 50px 0;
    background-color: #f7f7f7;
}

.btn-reservar {
    display: flex;
    padding: 12px 30px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    border: 2px solid #c59a31 ;
    margin-bottom: 20px;
    transition: 0.3s, color 0.3s;
    margin: 20px;
}

.btn-reservar:hover {
    background: linear-gradient(to right, #c59a31, #f7dc7b, #f7dc7b, #c59a31 );
    color: #F7F7F7;
    border-color: #c59a31;
}

.btn-servicios {
    display: flex;
    padding: 12px 30px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    border: 2px solid #c59a31;
    margin-bottom: 20px;
    transition: 0.3s, color 0.3s;
    margin: 20px;
}

.btn-servicios:hover {
    background: linear-gradient(to right, #c59a31, #f7dc7b, #f7dc7b, #c59a31 );
    color: white;
    border-color: #c59a31;
}

.menu-visible {
    display: block;
}

/*RESPONSIVE MENU*/
@media screen and (max-width: 480px) {
    .menu-icono-img {
        width: 25px;
    }

    .menu {
        width: 150px;
        top: 50px;
        right: 15px;
    }

    .logo img {
        width: 200px;
    }

    .btn-reservar,
    .btn-servicios {
        padding: 10px 15px;
        font-size: 14px;
        margin: 10px;
    }

    .botones {
        padding: 40px 0 70px 0;
    }

    .interfaz_1 {
        padding: 10px;
    }
}

/*SECCIÓN DE SERVICIOS */
.interfaz_2 {
    padding: 0px;
    background-color: #f7f7f7;
}

.titulo_servicios {
    text-align: center;
    background: linear-gradient(to right, #c59a31, #f7dc7b, #f7dc7b, #c59a31 );
    padding: 15px 0;
    margin-bottom: 30px;
    font-family: serif;
    color: #f7f7f7;
}

.servicios {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.servicios > div {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.servicios img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    display: block;
}

.servicios h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #020202;
    font-family: serif;
    text-transform: uppercase;
    z-index: 2;
}

.servicios img:hover {
    transform: scale(1.05);
}

.capa_oscura {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Capa de opacidad */
    z-index: 1;
    pointer-events: none;
    transition: background 0.5s ease;
}

.servicios:hover .capa_oscura {
    background: rgba(0, 0, 0, 0.7); /* Oscurece más al pasar el ratón */
}

button {
    position: relative;
    z-index: 3;
    background-color: #c59a31;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #a87e25;
}

.servicios p {
    color: white;
    z-index: 3;
    position: relative;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}




/*FIN DE SECCIÓN DE CLIENTES*/

/*SECCIÓN DE GALERÍA*/
img{
    width: 100%;
}

.galeria_platos {
    text-align: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 columnas*/
    gap: 10px;
    padding: 10px; /* Espaciado alrededor de la galería */
}

.galeria div {
    overflow: hidden; /* Para recortar imágenes que sobresalgan */
}

.galeria img {
    width: 100%; 
    height: auto; 
    transition: transform 0.3s;
}

.galeria div:hover img {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

/*FIN DE SECCIÓN DE GALERÍA*/

/*-- FORMULARIO--*/
.interfaz_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7F7F7; /* Fondo claro */
    border-radius: 10px;
    max-width: 500px; /* Limita el ancho máximo */
    margin: 0 auto;
}

/* Logo */
.logo img {
    width: 150px; /* Ajusta el tamaño del logo */
    margin-bottom: 20px;
}

/* Formulario */
.reserva {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos del formulario */
}

label {
    font-size: 1rem;
    color: linear-gradient(to right, #c59a31, #f7dc7b, #f7dc7b, #c59a31 );; /* Color dorado para las etiquetas */
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #c59a31; /* Bordes dorados */
    background-color: #fff;
    color: #333; /* Texto en color oscuro */
    box-sizing: border-box;
}

input::placeholder {
    color: #aaa; /* Color del placeholder */
}

select {
    appearance: none; /* Remueve el estilo nativo del select */
}

input:focus, select:focus {
    outline: none;
    border-color: #a87e25; /* Color más oscuro en focus */
}

/* Botón de Reservar */
.boton_reservar button {
    width: 30%;
    padding: 15px;
    background-color: #c59a31;
    color: #F7F7F7;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton_reservar button:hover {
    background-color: #a87e25; /* Efecto hover en el botón */
}

/* Contactos */
.contactos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.redes img {
    width: 40px; /* Tamaño de los íconos de redes sociales */
    margin: 0 10px;
    cursor: pointer;
}

.redes img:hover {
    opacity: 0.8; /* Efecto hover en los íconos de redes sociales */
}
